In [1]:
from pyflink.table import TableEnvironment, EnvironmentSettings, DataTypes

In [2]:
def main():
    
    batch_settings = EnvironmentSettings.new_instance()\
                                        .in_batch_mode()\
                                        .build()
    
    batch_tbl_env = TableEnvironment.create(batch_settings)
    
    prod_tup = [
        ('Toothbrush',2.99),
        ('Toothpaste',3.99),
        ('Dental Floss',4.99)]
    
    prod_tbl = batch_tbl_env.from_elements(prod_tup)
    
    print('Schema of Product Table:\n')
    print(prod_tbl.print_schema())
    print('\n')
    
    print('Pandas Dataframe of Product Table:\n')
    print(prod_tbl.to_pandas())
    print('\n')
    
    col_names = ['Products','Price']
    prod_tbl_1 = batch_tbl_env.from_elements(prod_tup, col_names)
    
    print('Schema of Product Table 1:\n')
    print(prod_tbl_1.print_schema())
    print('\n')
    
    print('Pandas Dataframe of Product Table 1:\n')
    print(prod_tbl_1.to_pandas())
    print('\n')
    
    schema = DataTypes.ROW([DataTypes.FIELD('Product',DataTypes.STRING()),
                            DataTypes.FIELD('Price',DataTypes.DOUBLE())])
    prod_tbl_2 = batch_tbl_env.from_elements(prod_tup,schema)
    
    print('Schema of Product Table 2:\n')
    print(prod_tbl_2.print_schema())
    print('\n')
    
    print('Pandas Dataframe of Product Table 2:\n')
    print(prod_tbl_2.to_pandas())
    print('\n')
    
    return

In [3]:
if __name__ == '__main__':
    main()

Schema of Product Table:

None


Pandas Dataframe of Product Table:

             _1    _2
0    Toothbrush  2.99
1    Toothpaste  3.99
2  Dental Floss  4.99


Schema of Product Table 1:

None


Pandas Dataframe of Product Table 1:

       Products  Price
0    Toothbrush   2.99
1    Toothpaste   3.99
2  Dental Floss   4.99


Schema of Product Table 2:

None


Pandas Dataframe of Product Table 2:

        Product  Price
0    Toothbrush   2.99
1    Toothpaste   3.99
2  Dental Floss   4.99