In [1]:
from pyflink.table import TableEnvironment, EnvironmentSettings, CsvTableSource, DataTypes

In [2]:
batch_settings = EnvironmentSettings.new_instance()\
                                    .in_batch_mode()\
                                    .build()

In [3]:
batch_tbl_env = TableEnvironment.create(batch_settings)

In [4]:
table_col_names = ['Seller_Id','Product','Quantity','Product_Price','Sales_Date']
table_col_types = [DataTypes.STRING(),DataTypes.STRING(),DataTypes.INT(),DataTypes.DOUBLE(),DataTypes.DATE()]
tbl_csv_sor = CsvTableSource(source_path='locale-sales.csv',ignore_first_line=True,field_types=table_col_types,field_names=table_col_names)

In [5]:
batch_tbl_env.register_table_source(name='tbl_csv_sale',table_source=tbl_csv_sor)

In [6]:
sale_tbl = batch_tbl_env.from_path(path='tbl_csv_sale')
sale_tbl.to_pandas()

   Seller_Id       Product  Quantity  Product_Price  Sales_Date
0        LNK    Toothpaste         9           4.99  2021-07-02
1        LNK    Toothbrush        25           3.99  2021-07-02
2        LNK  Dental Floss        16           1.99  2021-07-02
3        OMA    Toothpaste        13           4.99  2021-07-02
4        OMA    Toothbrush        32           3.99  2021-07-02
5        LNK    Toothbrush        20           3.99  2021-07-03
6        LNK  Dental Floss        15           1.99  2021-07-03
7        OMA  Dental Floss        18           1.99  2021-07-02
8        LNK    Toothpaste        11           4.99  2021-07-03
9        OMA    Toothbrush        31           3.99  2021-07-03
10       OMA    Toothpaste        10           4.99  2021-07-03
11       LNK    Toothbrush        22           3.99  2021-07-01
12       OMA  Dental Floss        21           1.99  2021-07-03
13       OMA    Toothbrush        29           3.99  2021-07-01
14       LNK  Dental Floss        17           1.99  2021-07-01
15       LNK    Toothpaste         8           4.99  2021-07-01
16       OMA    Toothpaste         9           4.99  2021-07-01
17       OMA  Dental Floss        23           1.99  2021-07-01